<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [2]:
# Membuat dataframes dari dictionary
import pandas as pd
import numpy as np

df = pd.DataFrame({'Nama': ['Ocha', 'Putri'], 'Umur': [20, 19]})
print(df)

    Nama  Umur
0   Ocha    20
1  Putri    19

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [6]:
# Membaca data dan memasukannya kedalam suatu variabel
df_data = pd.read_csv('diamonds-1.csv')

print(df_data)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab:
- Perbedaan Series dengan list dan dictionary : 
1. Series memiliki index label yang bisa ditentukan sendiri sedangkan list dan dictionary tidak memiliki index label secara default. 
2. Series memungkinkan untuk menyimpan data dengan tipe yang berbeda-beda sementara list dan dictionary hanya bisa menyimpan data dengan tipe yang sama.
3. Series memiliki banyak fungsi dan methos yang lebih canggih dibandingkan list dan dictionary, seperti statistik deskriptif, pengelompokan data, dan manipulasi data. 
4. Series lebih cepat dalam melakukan dibandingkan list dan dictionary, terutama data yang besar



- Perbedaan dataframe dengan series : DataFrame adalah tipe data 2-dimensi yang memiliki baris dan kolom dengan index label pada setiap baris dan kolom. Sedangkan Series adalah tipe data 1-dimensi hanya terdiri dari satu kolom dengan index label pada setiap baris. Keduanya memiliki fungsi dan method yang berbeda, tetapi DataFrame lebih fleksibel dalam menyimpan dan mengolah data dengan tipe yang berbeda-beda, sedangkan Series lebih cepat dalam melakukan operasi.

In [7]:
# code here
x = pd.Series([6,3,4,6], index=['a', 'b', 'c', 'd'])
print(x)

a    6
b    3
c    4
d    6
dtype: int64

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [18]:
# code here
df_data['price'].head(1)

0    326
Name: price, dtype: int64

In [20]:
df_data['color'].tail(1)

53939    D
Name: color, dtype: object

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab: 

Deskriptif statistik adalah cabang statistik yang bertujuan untuk mengumpulkan, mengorganisasi, menganalisis, dan menjelaskan data numerik dengan menggunakan metode seperti visualisasi, tabulasi, dan ukuran-ukuran seperti rata-rata, standar deviasi, dan frekuensi untuk memahami karakteristik dan pola data. Namun, hasil analisis tidak bisa digunakan untuk membuat generalisasi atau inferensi tentang populasi.

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [21]:
# code here
df_data.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [28]:
mean_price = df_data["price"].mean()
print("rata-rata price:", mean_price)

rata-rata price: 3932.799721913237

In [27]:
std_depth = df_data["depth"].std()
print("Standar deviasi depth:", std_depth)

Standar deviasi depth: 1.432621318833661

In [29]:
max_carat = df_data["carat"].max()
print("Maximum carat:", max_carat)

Maximum carat: 5.01

Jawab: